
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400&display=swap');



body{
    background-image: url(https://www.simpleimageresizer.com/_uploads/photos/b1f88df0/smoothie_menu_back_1_1904x950.jpg);
    height: auto;
    width: auto;
}

h1, h2{
    font-family: 'Inconsolata', monospace;
}

p{
font-family: 'Dosis', sans-serif;;
}

h1, p, h2{
    text-align: center;
}


.menu{
    width: 80%;
    background-color: antiquewhite;
    border: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
}

.item p{
    display: inline-block;
}

.flavor{
    text-align: left;
    width: 75%;
}

.price{
    text-align: right;
    width: 25%;
}

span{
    color:crimson;
}

.icons{
    text-align: center;
    font-size: 30px;
}
.fa fa-facebook{
    
}
